<section>
    <div class="container mt-4">
        <div class="row">

            <div class="col-md-4">
                <h2 class="text-center">Edit User</h2>
                <p>{{editError}}</p>
                <form action="/admin/edit-product/{{userDetails._id}}" method="post" >

                    <label for="" class="form-label">Name</label>
                    <input type="text" name="Name" class="form-control" value="{{userDetails.Name}}"> {{!-- The value here is used for displaying the already existing value --}}

                    
                    <label for="" class="form-label">Email</label>
                    <input type="text" name="Email" class="form-control" value="{{userDetails.Email}}">

                    
                    <label for="" class="form-label">Password</label>
                    <input type="text" name="Password" class="form-control" value="{{userDetails.Password}}">
                    
                    

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>
        </div>

    </div>
</section>